{% extends "base.jinja" %} {% block title %}lijst van alle onderzoeken{%
endblock %} {% block body %}
<h1>onderzoeken beheren</h1>
<ul class="admin_quick_link">
  <a href="/admin/approve_research_requests"
    >{{ research_signup_request_count[0] }} ervaringsdeskundigen willen zich
    inschrijven voor een onderzoek</a
  >
  <a href="/admin/approve_research"
    >0 onderzoeken zijn ingediend door organisaties</a
  >
</ul>
<div class="filter_research_block">
  <h2 class="filter_research">onderzoeken filteren</h2>
  <p>titel <input type="text" id="searchTitle" /></p>
  <p>naam organisatie <input type="text" id="searchOrganisation" /></p>
  <p>
    type onderzoek
    <select id="searchType">
      <option value="">alle type</option>
      <option value="op locatie">op locatie</option>
      <option value="via telefoon">via telefoon</option>
      <option value="videobellen">videobellen</option>
    </select>
  </p>
  <p>
    datum beschikbaar <br />
    <input type="date" id="searchDate" />
  </p>

  <button class="clear_search_field" id="clearSearchFields">
    zoekvelden leegmaken
  </button>
</div>
<div class="list_position">
  <div class="container research_list list_normal">
    <div class="row" id="researchList">
      {%for research in researches%}
      <div
        class="col-4"
        data-title="{{ research.title }}"
        data-organisation="{{ research.name }}"
        data-type="{{ research.research_type }}"
        data-available-from="{{ research.date_from }}"
        data-available-until="{{ research.date_to }}"
      >
        <div class="card padding-bottom">
          <div class="card-header">
            <h5 class="card-title">{{ research.title }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{{ research.status }}</p>
            {%if research.firstname is not none%}
            <p class="card-text">
              {{ research.firstname }} {{ research.infix }}
              {{ research.lastname }}
            </p>
            {% endif %} {%if research.name is not none%}
            <p class="card-text">{{ research.name }}</p>
            {% endif %} {%if research.name is none%}
            <p class="card-text">geen organisatie.</p>
            {% endif %}

            <p class="card-text">
              {{ research.research_type }} <br />{{ research.location }}
            </p>

            <p class="card-text">
              beschikbaar van {{ research.date_from }} tot
              {{ research.date_to }}
            </p>

            <div class="extra_details" data-id="{{ research.id }}">
              <p>beschrijving: <br />{{ research.description }}</p>
              {% if research.with_price %}
              <p>{{ research.with_price }}</p>
              <p>{{ research.price }}</p>
              {% endif %}
              <p>
                voor {{ research.target_age_from }} jarige tot
                {{ research.target_age_to }} jarige
              </p>
            </div>
            <div data-id="{{ research.id }}" class="delete_research">
              <p>weet u zeker dat u dit onderzoek wilt verwijderen?</p>
              <div class="delete_research_buttons">
                <form action="/admin/list_of_researches" method="POST">
                  <button
                    type="submit"
                    name="delete_research"
                    id="deleteResearch"
                    class="btn btn-danger"
                  >
                    verwijder
                  </button>
                </form>
                <button
                  class="btn btn-info cancelDelete"
                  data-id="{{ research.id }}"
                >
                  annuleer
                </button>
              </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="research_list_buttons">
              <button
                class="btn btn-info more_details_button"
                data-id="{{ research.id }}"
              >
                meer details
              </button>
              <button
                class="btn btn-info less_details_button"
                data-id="{{ research.id }}"
              >
                minder details
              </button>
              <button
                data-id="{{ research.id }}"
                class="btn btn-danger deleteResearchButton"
              >
                verwijder onderzoek
              </button>
            </div>
          </div>
        </div>
      </div>

      {%endfor%}
    </div>
  </div>
</div>

<div class="delete_research">
  weet u zeker dat u dit onderzoek wilt verwijderen?
</div>
{% endblock %}
