{% extends "base.jinja" %} {% block title %}registraties keuren{% endblock %} {%
block body %}
<p style="position: absolute; top: 50%; left: 50%; color: black">
  hier kan de admin registraties keuren
</p>
{% endblock %}
