{% extends 'base.jinja' %}
{% block head %}

{% endblock %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Welkom</h2>
                <h2>Recent Activity</h2>
                <h2>Notifications</h2>
            </div>
        </div>
    </div>
{#    {% if user != None %}#}
{#        <p>Welkom {{ user }}</p>#}
{#    {% else %}#}
{#        <p>Welkom</p>#}
{#    {% endif %}#}
{% endblock %}
```

