{% extends "base.jinja" %} {% block title %}mijn account{% endblock %} {% block
body %}
{% if is_old %}
<form action="/hash_password" method = "POST">
  <button class="btn btn-info" type="submit">Beveilig wachtwoord</button>
</form>
{% endif %}
{% endblock %}
